<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1: September 22, 2026</h3>
    <table class="table table-striped">
      <tr>
        <td>Before</td>
        <td><a href="https://forms.gle/1XLe1pqnZCxHcRQA6" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr> 
        <td>09:00</td>  <td>Start – Introduction to the workshop, instructors, helpers, and code of conduct</td> 
      </tr>
      <tr> 
        <td>09:30</td>  <td>Introduction to cloud computing</td> 
      </tr>
      <tr> 
        <td>10:30</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>10:45</td>  <td>Introduction to HPC</td> 
      </tr>
      <tr> 
        <td>12:00</td>  <td>Break</td>
      </tr>
      <tr> 
        <td>12:15</td>  <td>Connecting to a remote HPC system</td>
      </tr>
      <tr> 
        <td>13:00</td>  <td>Finish day one</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2: September 23, 2026</h3>
    <table class="table table-striped">
     <tr>
       <td>09:00</td>  <td>Introduction to parallel computing</td>
      </tr>
      <tr> 
        <td>10:00</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>10:15</td>  <td>Introduction to Workflow Management</td> 
      </tr>
      <tr> 
        <td>11:00</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>11:15</td>  <td>Introduction to Snakemake</td> 
      </tr>
      <tr> 
        <td>12:00</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>12:15</td>  <td>Creating Snakefiles</td> 
      </tr>
      <tr> 
        <td>13:00</td>  <td>Finish day two</td> 
      </tr>
     </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3: September 24, 2026</h3>
    <table class="table table-striped">
     <tr>
       <td>09:00</td>  <td>Snakemake wildcards</td>
      </tr>
      <tr> 
        <td>10:00</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>10:15</td>  <td>Pattern rules</td> 
      </tr>
      <tr> 
        <td>11:00</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>11:15</td>  <td>Placeholders</td> 
      </tr>
      <tr> 
        <td>12:00</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>12:15</td>  <td>Chaining rules</td> 
      </tr>
      <tr>  
        <td>13:00</td>  <td>Finish day three</td>
      </tr>
     </table>
</div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 4: September 25, 2026</h3>
    <table class="table table-striped">
     <tr>
       <td>09:00</td>  <td>Completing the pipeline</td>
      </tr>
      <tr> 
        <td>09:45</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>10:00</td>  <td>Resources and parallelism</td> 
      </tr>
      <tr> 
        <td>10:45</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>11:00</td>  <td>Scaling pipeline across a cluster</td>
      </tr>
      <tr> 
        <td>11:45</td>  <td>Break</td> 
      </tr>
      <tr> 
        <td>12:00</td>  <td>Wrap-up | Q&A</td> 
      </tr>
      <tr> 
         <td>13:00</td>  <td>Finish day four</td> 
      </tr>
      <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="https://survey.mdc-berlin.de/875143?lang=en" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
